* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}




body {
    background-color: rgb(222, 237, 250);
}

header {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: space-between;
    padding: 1%;
    background-color: #15016f;
    color: #fff;
}

header nav ul{
    list-style-type: none;
}

 header nav ul li{
    display: inline-block;
    margin-left: 25px;
 }

h1 {
    font-size: 200%;
}

h2 {
    font-size: 250%;
    padding: 50px;
    background-color: #a9a9a9;
    text-align: end;
}

h3 {
    font-size: 250%;
    flex-direction: column;
}

h4 {
    font-size: 100%;
}

a {
    color: #fff;
    font-size: 20px;
}

p {
    font-size: 15px;
    margin-left: 25%;
}


.row {
    display: flex;
}
.column {
    flex: 50%;
    padding: 10px;
    height: 300px;
}

.project-image {
    height: 200px;
    width: 300px;
}

.big-image {
    height: 500px;
    width: 800px;
}

footer {
    position: relative;
   left: 0;
   bottom: -725px;
   width: 100%;
   background-color: #15016f;
   color: white;
   text-align: center;
}
